# Dependencies
node_modules/
vendor/bundle/
.bundle/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native build artifacts
android/
ios/

# Metro
.metro-cache/

# Misc
.DS_Store
*.swp
*.tmp
dist/
build/
